.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 42px 100px;
  border-top: 2px solid #e5e5e5;
}
.links-wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.copyright p,
.copyright a {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: black;
  transition: ease 0.3s;
}
.copyright p a{
  border-bottom: 2px solid black;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}
.footer-links div {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-links h3 {
  font-size: 24px;
  font-weight: 600;
}
.footer-links a {
  font-size: 14px;
  font-weight: 500;
  color: #707072;
  transition: ease 0.3s;
}
.footer-links a:hover {
  color: black;
  border-bottom: 1px solid black;
  transform: translateY(-5px);
}
.social-links {
  display: flex;
  gap: 12px;
  justify-content: end;
}
.social-links a {
  font-size: 20px;
  color: black;
  border: 2px solid black;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: ease 0.3s;
}
.social-links a:hover {
  transform: translateY(-10px);
}


@media screen and (max-width: 600px) {
.footer{
  padding: 42px 20px;
}
.links-wrap{
  flex-direction: column;
  gap: 24px;
}
.footer-links div{
  gap: 12px;
}
}